#body1 {
    background-color: #535353;
    font-family: 'Ubuntu', sans-serif;
}

#main-holder {
    background-color: #f7f7f7;
    width: 400px;
    height: 400px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

#login-header {
    padding-top: 40px;
    color: #da8422;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

#username-field {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

#login-form {
    padding-top: 40px;
}

#password-field {
        width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

#username-field:focus, #password-field:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;   
}

#login-form-submit {
  cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #da700d, #cf6b19);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

#forgot-password {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #5d585e;
    padding-top: 15px;
}

#login-form-submit {
    text-shadow: 0px 0px 3px rgba(255, 253, 253, 0.12);
    color: #ffffff;
    text-decoration: none
}

#error{
    color: red;
    text-decoration: inherit;
}

@media (max-width: 600px) {
    #main-holder {
        border-radius: 0px;
    }
}