 .form-horizontal{
    width:180px;
    margin-left:570px;}
  h1,h3,footer{text-align:center;}
  #userForm{
    display:flex;
    flex-direction:column;
    background-color:#f7f7f7;
    padding:20px;
    width:380px;
    margin-left:560px;
  }
  label{color:#f26926;}
  .btn-default{background-color:#f26926 !important;
    color:white !important;
    font-weight:bold !important;
    font-size:19px !important;
  }
    #msg1,#msg2,#msg3,#msg4,#msg5{
    color:#dc143c;
    font-size:19px;
    }

 .form-horizontal{
    width:180px;
    margin-left:570px;}
  h1,h3,footer{text-align:center;}
