<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="css/synergy.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<title>Synergy Hotel Employee Login</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<script>$(function(){$("#nav-placeholder").load("nav.html");});</script> <!-- This loads nav bar-->
		<style>
			.form-horizontal{
			width:180px;
			margin-left:570px;}
			h1,h3,footer{text-align:center;}

			#test {margin: 0 auto;width:50%}
		</style>
	</head>
	<body>
		<div id="nav-placeholder"></div><!-- This loads nav bar-->
		
		<div class="jumbotron text-center">
			<h1>Synergy Hotel Employee Login</h1>
			<p>Welcome Valued Employee!</p> 
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
				</div>
			<div class="col-sm-4">
				<h3>Column 2</h3>
				<form id="test">
					<label>
						<p>Username:</p>
						<input type="text" name="username:" maxlength="50" required/>
					</label>
					<label>
						<p>Password:</p>
						<input type="password" name="password:" maxlength="50" required/>
					</label>
				</form>
			</div>
				<div class="col-sm-4">
				</div>
			</div>
		</div>
	</body>
</html>