<br><br><br>
<br><br><br>
<footer>
	<p><i>Copyright &copy; 2021 Synergy Hotel Management System. All Rights Reserved.</i></p>
	<div class="container">
		<table class="table table-condensed">
			<tbody>
				<tr class="tbHeader">
					<td><h4>Address</h4></td>
					<td><h4>Hours and Contact</h4></td>
					<td><h4>On-site Services</h4></td>
				</tr>
				<tr class="tbHeader">
					<td>133 Belvedere BLVGD</td>
					<td>7:00 a.m. - 11:00 p.m.</td>
					<td>Concierge Services</td>
				</tr>
				<tr class="tbHeader">
					<td>Orlando FL</td>
					<td>407-945-7889</td>
					<td>Valet Parking</td>
				</tr>
				<tr class="tbHeader">
					<td>34764</td>
					<td>customerservice@synergy.com</td>
					<td>ATM</td>
				</tr>
				<tr class="tbHeader">
					<td></td>
					<td><a href="employeeLogin.html">Employee?</a></td>
				</tr>
			</tbody>
		</table>
	</div>

</footer>