<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/synergy.css">

    <title>Synergy Hotel Employee Login</title>
    <meta charset="utf-8">

		<!--MUST HAVE HEADERS                                                                                                   -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script>$(function(){$("#nav-placeholder").load("nav.html");});</script> <!-- This loads nav bar-->
		<script>$(function(){$("#footer-placeholder").load("footer.html");});</script> <!-- This loads nav bar-->
		<!--MUST HAVE HEADERS                                                                                                   -->


</head>
<body>
	<div id="nav-placeholder"></div><!-- This loads nav bar-->
<div class="jumbotron text-center">
    <h1>Manager's Portal</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <h2 class="h2Color">Add A New Employee</h2>
            <form id="userForm" action="userRegister" method="post">
                <div class="form-group">
                    <label for="firstname">First Name</label>
                    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter First Name">
                    <span id="msg1">*</span>
                </div>
                <div class="form-group">
                    <label for="lastname">Last Name</label>
                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter Last Name">
                    <span id="msg2">*</span>
                </div>


                <div class="form-group">
                    <label for="userName">User Name</label>
                    <input type="text" class="form-control" id="userName" name="userName" placeholder="Enter User Name">
                    <span id="msg3">*</span>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password">
                    <span id="msg4">*</span>
                </div>
                <input type="button" id="join_list" value="Submit">


            </form>
        </div>
    </div>
</div>


<script>
function joinList(){
  var nameEl = document.getElementById("firstname");
  var lname = document.getElementById("lastname");
  var username = document.getElementById("userName");
  var password = document.getElementById("password");

  var msg1 = document.getElementById("msg1");
  var isValid = true;
  if(nameEl.value == ""){
    msg1.innerHTML = "This filed is required";

    isValid = false;
  }else if(lname.value == ""){
  msg2.innerHTML = "This filed is required";
  isValid = false;

  }else if(username.value == ""){
  msg3.innerHTML = "This filed is required";
  isValid = false;
  }else if(password.value == ""){
  msg4.innerHTML = "This filed is required";
  isValid = false;
  } else{
    nameEl.nextElementSibling.firstChild.nodeValue = "";
	lname.nextElementSibling.firstChild.nodeValue = "";
	username.nextElementSibling.firstChild.nodeValue = "";
	password.nextElementSibling.firstChild.nodeValue = "";
  }

}
var mybtn = document.getElementById("join_list");
mybtn.addEventListener("click", joinList, false);




			</script>

</body>
</html><script>
(function() {
	console.log("WHAT IS THIS")
  var ws = new WebSocket('ws://' + window.location.host + '/jb-server-page?reloadServiceClientId=9');
  ws.onmessage = function (msg) {
      if (msg.data === 'reload') {
          window.location.reload();
      }
      if (msg.data.startsWith('update-css ')) {
          var messageId = msg.data.substring(11);
          var links = document.getElementsByTagName('link');
          for (var i = 0; i < links.length; i++) {
              var link = links[i];
              if (link.rel !== 'stylesheet') continue;
              var clonedLink = link.cloneNode(true);
              var newHref = link.href.replace(/(&|\?)jbUpdateLinksId=\d+/, "$1jbUpdateLinksId=" + messageId);
              if (newHref !== link.href) {
                clonedLink.href = newHref;
              }
              else {
                var indexOfQuest = newHref.indexOf('?');
                if (indexOfQuest >= 0) {
                  // to support ?foo#hash
                  clonedLink.href = newHref.substring(0, indexOfQuest + 1) + 'jbUpdateLinksId=' + messageId + '&' +
                                    newHref.substring(indexOfQuest + 1);
                }
                else {
                  clonedLink.href += '?' + 'jbUpdateLinksId=' + messageId;
                }
              }
              link.replaceWith(clonedLink);
          }
      }
  };
})();
</script>