<nav class="navbar navbar-inverse">
	<script src="../javascript/nav.js"></script>
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="index.html"><span class="vil">Synergy Hotel</span><span class="inn"> Management System</span> </a></div>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="index.html">Home</a></li>
			<li><a href="amenities.html">Amenities</a></li>
			<li><a href="reservations.html">Reservation</a></li>
			<li ><a id ="lgotin" href="userlogin.html">Login</a></li>
			<li ><a href="registration.html">Register</a></li>
		</ul>
	</div>
</nav>