<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="../css/login-page.css">
  <script defer src="../javascript/login-page.js"></script>
  <script>$(function(){$("#footer-placeholder").load("footer.html");});</script> <!-- This loads nav bar-->
  <script>$(function(){$("#nav-placeholder").load("nav.html");});</script> <!-- This loads nav bar-->
</head>

<body id="body1">
  <main id="main-holder">
    <nav id="nav-placeholder"></nav><!-- This loads nav bar-->
    <p id="login-header" align="center">Sign in</p>
    
    <!---
    <div id="login-error-msg-holder">
      <p id="login-error-msg">Invalid username <span id="error-msg-second-line">and/or password</span></p>
    </div> --->
    
    <form id="login-form">
      <input type="text" name="username" id="username-field" class="login-form-field" align="center" placeholder="Username">
      <input type="password" name="password" id="password-field" class="login-form-field" align="center" placeholder="Password">
      <input type="submit" value="Login" id="login-form-submit" align="center">
      <p id="forgot-password" align="center"><a href="#">Forgot Password?</p>
    </form>

    <div class="row">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4 red hide1" id = "error">
        <p>Username or Password are Incorrect</p>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
  
  </main>
  <footer id ="footer-placeholder"></footer>
  
</body>

</html>